    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }
    
    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 50px;
        text-align: center;
    }
    
    .orange {
        color: tomato;
    }
    
    .flexible-container {
        display: flex;
        padding-bottom: 75px;
    }
    
    #red-line {
        border-left: 5px solid orangered;
        border-radius: 5px;
        padding-left: 5px;
    }
    
    .helf-width {
        padding-top: 25px;
        padding-left: 65px;
    }
    
    .helf-width img {
        width: 70%;
        margin-left: 55px;
    }
    
    .link-btn {
        background-color: tomato;
        border-radius: 5px;
        text-decoration: none;
        padding: 15px 40px;
        color: white;
    }
    
    .mission-item {
        border-radius: 15px;
        background-color: lightcyan;
        padding: 25px;
        margin-left: 75px;
    }
    
    #mission-img {
        width: 50%;
    }
    
    .vision-item {
        border-radius: 15px;
        background-color: lightyellow;
        padding: 25px;
        margin-left: 25px;
    }
    
    #vision-img {
        width: 50%;
    }
    
    .goals-item {
        border-radius: 15px;
        background-color: lightpink;
        padding: 25px;
        margin-left: 25px;
        margin-right: 75px;
    }
    
    #goals-img {
        width: 50%;
    }
    
    #heading-3 {
        font-size: 40px;
    }
    
    .coding-img {
        width: 50%;
        margin-left: 75px;
    }
    
    .documentation-unit {
        padding: 25px;
        margin-left: 75px;
        margin-right: 85px;
    }
    
    .project-img {
        width: 50%;
        margin-right: 75px;
    }
    
    .app-img {
        width: 50%;
        margin-left: 150px;
        background-image: url(images/shapes/shape-1.png);
        background-position: left;
        background-repeat: no-repeat;
    }
    
    .ellen-text {
        padding-top: 100px;
        margin-left: 150px;
        margin-right: 85px;
    }
    
    .footer {
        text-align: center;
        background-color: black;
        color: white;
        padding: 10px;
    }
    
    #footer-text {
        color: grey;
    }